# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go



name: sonar-project

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
          fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...
    - name: Run unit Tests
      run: |
          go test -coverprofile=./cov.out ./...
          go test -json > report.json
          
#     - name: Run Gosec Security Scanner
#       run: |
#           go get github.com/securego/gosec/cmd/gosec
#           gosec -fmt=json -out report.json ./...
 
      
    - name: Analyze with SonarCloud
    - uses: sonarsource/sonarqube-scan-action@master
#       with:
#         args: >
#          -Dsonar.organization=mukunda2912
#          -Dsonar.projectKey=first-app
#          -Dsonar.go.coverage.reportPaths=cov.out
#          -Dsonar.exclusions=**/*_test.go
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_LOCAL }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
 
